In [125]:
import pandas as pd
import numpy as np
from pymystem3 import Mystem

## Задание 1
Для датафрейма log из материалов занятия создайте столбец source_type по следующим правилам:

- если источник traffic_source равен yandex или google, то в source_type ставится organic
- для источников paid и email из России - ставим ad
- для источников paid и email не из России - ставим other
- все остальные варианты берем из traffic_source без изменений

In [67]:
def add_source_type():
    log_f = pd.read_csv('visit_log_1.csv', sep=';')
    log_f.loc[(log_f.traffic_source.isin(['paid', 'email'])) & (log_f.region != 'Russia'), 'source_type'] = 'other'
    log_f.loc[(log_f.traffic_source.isin(['paid', 'email'])) & (log_f.region == 'Russia'), 'source_type'] = 'ad'
    log_f.loc[log_f.traffic_source.isin(['yandex', 'google']), 'source_type'] = 'organic'
    log_f.loc[pd.isnull(log_f.source_type), 'source_type'] = log_f.traffic_source

In [76]:
#Добавляем столбец source_type
add_source_type()
#Проверяем на наличие пустых значений - если нет, то разметили все значения
log_f.loc[pd.isnull(log_f.source_type), :].head()

Empty DataFrame
Columns: [timestamp, visit_id, url, region, user_id, traffic_source, source_type]
Index: []

## Задание 2
В файле URLs.txt содержатся url страниц новостного сайта. Вам необходимо отфильтровать его по адресам страниц с текстами новостей. Известно, что шаблон страницы новостей имеет внутри url следующую конструкцию: /, затем 8 цифр, затем дефис. Выполните следующие действия:

- Прочитайте содержимое файла с датафрейм
- Отфильтруйте страницы с текстом новостей, используя метод str.contains и регулярное выражение в соответствии с заданным шаблоном

In [123]:
#читаем
url = pd.read_csv('urls.txt')
#фильтруем
url[url.url.str.contains('/[0-9]{8}-')].head()

                                                 url
3  /politics/36188461-s-marta-zhizn-rossiyan-susc...
4  /world/36007585-tramp-pridumal-kak-reshit-ukra...
5  /science/36157853-nasa-sobiraet-ekstrennuyu-pr...
6  /video/36001498-poyavilis-pervye-podrobnosti-g...
7  /world/36007585-tramp-pridumal-kak-reshit-ukra...

## Домашнее задание 3
В датафрейме data создайте столбец lemmas, в котором вычислите леммы поисковых запросов из столбца keyword. Леммы должны иметь строковый тип.

In [132]:
data = pd.DataFrame({
    'keyword': ['курс гривны к рублю', 'доллары в рубли', '100 долларов в рублях', 'курс рубля'],
    'shows': [125076, 114173, 97534, 53546],
})

In [133]:
def get_lemmas():
    a = []

    #создаем леммы
    for c in data.keyword:
        lem = m.lemmatize(c)
        a.append(''.join(lem).replace('\n', ''))
    
    #добавляем столбец
    data['lemmas'] = a

In [134]:
get_lemmas()
data

                 keyword   shows               lemmas
0    курс гривны к рублю  125076  курс гривна к рубль
1        доллары в рубли  114173       доллар в рубль
2  100 долларов в рублях   97534   100 доллар в рубль
3             курс рубля   53546           курс рубль